.cartList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modalContent {
  max-height: 70vh;
  overflow-y: auto;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--second-color);
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.cartItem > span {
  flex: 1;
  margin-right: 1rem;
  color: #363636;
  font-size: 1.2rem;
}

.summary {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: var(--second-color);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--second-color);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--third-color);
  border-color: var(--third-color);
  color: white;
}

.actions .buttonAlt {
  color: var(--second-color);
}

.actions .button {
  background-color: var(--second-color);
  color: white;
}

/* Add to cart.module.css */

.removeItemBtn {
  background-color: #ff0000; /* Red color for emphasis */
  color: #ffffff; /* White text color */
  border: none; /* Remove default border */
  border-radius: 50%; /* Round button */
  width: 20px; /* Width of the button */
  height: 20px; /* Height of the button */
  font-weight: bold; /* Bold X character */
  cursor: pointer; /* Hand cursor on hover */
  margin-left: 10px; /* Spacing from the price */
  transition: 0.3s; /* Transition effect for hover */
}

.removeItemBtn:hover {
  background-color: #cc0000; /* Darker shade of red on hover */
}

.removeItemBtn:focus {
  outline: none; /* Remove focus outline */
}

@media (max-width: 768) {
}
