.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: var(--primary-color);
  color: var(--buttons-color);
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

/* .button:hover,
.button:active {
  background-color: #d9c594;
} */

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

/* .button:hover .badge,
.button:active .badge {
  background-color: #dabaad;
} */

@media only screen and (max-width: 768px) {
  .text {
    display: none;
  }

  .button {
    padding: 0;
    border-radius: 25px;
    background-color: white;
  }

  .icon {
    margin-right: 0.25rem;
  }

  .badge {
    margin-left: 0.5rem;
  }
}
