.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.backgroundImage {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    opacity: inherit;
    opacity: 90%;
}

.header {
    background-color: var(--input-fields-color);
    width: 100%;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 30px 30px;
    overflow: hidden;
}

.header .title{
    font-family: "MarckScripts", sans-serif;
    font-size: 32px; 
    font-weight: bold;
  }

.menuNavContainer {
    margin: 4% 10%;
}

.menuNavigation {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuNavigation .btns {
    color: var(--buttons-color);
    font-weight: bold;
}