.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  background-color: var(--borders-color);
  border-radius: 10px;
  opacity: 0.9;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.backgroundImage {
  position: relative;
  min-height: 100vh;
}

.backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}

.par {
  font-family: "MarckScripts", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 80%;
}

.contactHeader {
  font-family: "MarckScripts", sans-serif;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
  border-bottom: solid 3px var(--second-color);
  text-align: center;
  color: black;
  margin: 0;
}

.contactInfo {
  font-size: 26px;
  font-family: "MarckScripts", sans-serif;
  margin: 0;
  color: black;
}
