:root {
  --header-height: 3rem;
  --nav-width: 4rem;
  --primary-color: #ecd282;
  --second-color: #8a2b06;
  --third-color: #5a1a01;
  --brown-color: #1c1c1c;
  --buttons-color: #011936;
  --bg-color: #fbf2dd;
  --input-fields-color: #fffcf6;
  --error-color: #c43333;
  --borders-color: #ccc;
}

@font-face {
  font-family: "MarckScripts";
  src: url("./assets/Fonts/Marck_Script/MarckScript-Regular.ttf")
    format("truetype");
}

.image {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  opacity: inherit;
  opacity: 90%;
}
