.section {
  margin-top: 10%;
  text-align: center;
}

.container {
  margin-left: 10%;
  margin-bottom: 6%;
  width: 80%;
  border-radius: 2%;
  background-color: var(--input-fields-color);
  box-shadow: 8px 3px 3px rgba(0, 0, 0, 0.2);
  border: solid var(--borders-color);
}

.img {
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 4%;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30%;
}

.price {
  font-size: 16px;
  font-weight: 500;
}

.weight {
  font-size: 16px;
  font-weight: 500;
}

.dishBtnSection {
  margin-bottom: 6%;
}

.dishBtnSection .dishBtn {
  margin: 0 4%;
  font-weight: bold;
  color: var(--buttons-color);
  background-color: var(--primary-color);
}
