.container {
  position: fixed;
  top: -420px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.searchProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonContainer {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.button {
  padding: 8px 20px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.icon {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 15px;
  margin-right: 10px;
  color: var(--buttons-color);
  font-size: 22px;
}

.iconI {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 15px;
  margin-right: 10px;
  color: var(--buttons-color);
  font-size: 52px;
}
