.backgroundImage {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  opacity: inherit;
  opacity: 90%;
}

.wineSection {
  margin-top: 10%;
  text-align: center;
}

.wineContainer {
  margin-left: 10%;
  margin-bottom: 6%;
  width: 80%;
  border-radius: 2%;
  background-color: var(--input-fields-color);
  box-shadow: 8px 3px 3px rgba(0, 0, 0, 0.2);
  border: solid var(--borders-color);
}

.wineImg {
  width: 100%;
}

.wineTitle {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 4%;
}

.wineInfoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30%;
}

.wineInfo {
  font-size: 16px;
  font-weight: 500;
}

.wineBtnSection {
  margin-bottom: 6%;
}

.wineBtn {
  margin: 0 4%;
  font-weight: bold;
  color: var(--buttons-color);
  background-color: var(--primary-color);
}
